<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="formulario" (ngSubmit)="publicar()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modelTitleId">Criar uma publicação</h4>
        </div>
        <div class="modal-body">
          <input type="text" 
                 placeholder="Título da Publicação" 
                 class="form-control"
                formControlName="titulo"> </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Publicar</button>
          </div>
      </form>
      </div>
    </div>
  </div>
